#Fix for symlink
/public_html

#Ignore logs
/logs

# Ignore configuration files that may contain sensitive information.
www/sites/*/*settings*.php

# Ignore paths that contain generated content.
www/cache/
www/files/
www/sites/files
www/sites/*/files
www/sites/*/private

# Ignore default text files
/www/.htaccess
/www/robots.txt
/www/CHANGELOG.txt
/www/COPYRIGHT.txt
/www/INSTALL*.txt
/www/LICENSE.txt
/www/MAINTAINERS.txt
/www/UPGRADE.txt
/www/README.txt
/www/sites/all/README.txt
/www/sites/all/modules/README.txt
/www/sites/all/themes/README.txt

# Ignore everything but the "sites" folder ( for non core developer )
/www/web.config
/www/authorize.php
/www/cron.php
/www/index.php
/www/install.php
/www/update.php
/www/xmlrpc.php
www/includes
www/misc
www/modules
www/profiles
www/scripts
www/themes
vagrant/.vagrant/machines/default/virtualbox/id


# Caches
.sass-cache
/www/sites/all/themes/gpa/.sass-cache
/www/sites/all/themes/gpa/.sass-cache/*
/www/sites/all/themes/gpa/.sass-cache/
vagrant/.vagrant/machines/default/virtualbox/id
/www/nbproject/private/
/www/nbproject/project.properties
/www/nbproject/project.xml
/www/sites/all/themes/gpa/compass_app_log.txt
/drupal8/nbproject/private/
/nbproject/private/